body{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
ul li{
    padding: auto;
    list-style: none;
}

.home{
    background: url("./images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    
    
}
.content{
    padding: 5%;
   
    
}
.content h1{
    color: rgb(0, 0, 77);
    padding: auto;
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.content span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 77);
    margin: 1%;
    font-weight: bolder;

    font-size: medium;
}
.Enthusiast ul li{
    
    margin-left:10% ;
    margin-top: 5%;
    
    text-align: center;
    color: white;
    font-weight: bolder;
}
.content h3,p{
    color: rgb(0, 0, 77);
    padding: auto;
    margin: 1%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
.card{
    box-sizing: border-box;
    margin: 4%;
    margin-right: 4%;
    border:hidden;
}
.card img{
    width: 50%;
    margin-left: 25%;
}
.card h2{
    margin-left: 46%;
}
.card p{
    margin-left: 11%;
}

