body{
    margin: 0;
    padding: 0;
}
ul li{
    padding: auto;
    list-style: none;
}
.subnav{
    padding: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}
.home{
    background: url("./images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    
}
.content{
    padding: 5%;
   
    
}
.content h1{
    color: rgb(0, 0, 77);
    padding: auto;
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.content span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 77);
    margin: 1%;
    font-weight: bolder;

    font-size: medium;
}
.Enthusiast ul li{
    
    margin-left:8% ;
    margin-top: 5%;
    
    text-align: center;
    color: white;
    font-weight: bolder;
}
.content h3,p{
    color: rgb(0, 0, 77);
    padding: auto;
    margin: 1%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
.content img{
    padding: auto;
    
}
.content h2{
    margin-left: 30%;
    color:rgb(0, 0, 77) ;
}
